<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Auto Torrent</title>
	<link rel="stylesheet" href="/styles/styles.css">
</head>

<body>
	<h1>🎬 Auto Torrent 🎬</h1>

	<div class="search-container">
		<input type="text" id="movie-search" placeholder="Search for a movie...">
		<button id="search-btn">Search</button>
	</div>


	<h2>Movies</h2>
	<div class="grid" id="movie-grid"></div>

	<h2>TV Shows</h2>
	<div class="grid" id="tv-grid"></div>

	<div class="wipe-container">
		<button id="hls-wipe-btn">Wipe HLS Cache</button>
		<button id="total-wipe-btn">Wipe Total Cache</button>
	</div>

	<script type="module" src="/static/home-page.js"></script>
</body>

</html>